body{
    background-color: dimgray;
    font-family: Arial;
}
p, h1, footer, h2{
    color: white;
}

#obelisk{
    width: 700px;
}



#grid-container{
    display: grid;
    grid-template-columns: 500px auto;
}

#grid-container > div{
    text-align: center;
    border: 3px;
    padding: 20px;
}

#griddy{
    display: grid;
    grid-template-columns: 600px auto;
}

h1{
    font-size: xxx-large;
}

table{
    background-color: black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

tr{
    padding: 10px;
}

th, td{
    border: 3px black solid;
    border-bottom: 0;
    border-left: 0;
    padding: 10px;
}



.first{
    background-color: darkslateblue;
    color: white;
}
.second{
    background-color: lightblue;
    color: black;
}

a:link{
    color:lightblue;
}

a:visited{
    color:lightskyblue;
}